<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulador de Quadtree</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='image/index.jpg') }}">
</head>
<body>

    <div class="app-container">
        <div class="main-layout">
            
            <aside class="sidebar">
                <div class="dropdown-header" id="toggle-params" style="cursor: pointer;">
                    <span>Parámetros</span>
                    <span class="arrow">▼</span>
                </div>
                <div class="sidebar-content" id="params-content">
    
                    <p class="stats">Puntos: <span id="count">0</span></p>
                    <label for="color-picker" style="margin-top: 15px;">Color de puntos:</label>
    <input type="color" id="color-picker" value="#a5a5ff">
                       <hr style="margin: 20px 0; border: 0; border-top: 1px solid #444;">

        <div class="search-section">
            <h3>Búsqueda</h3>
            
            <div class="input-group">
                <label>Punto más cercano a:</label>
                <div style="display: flex; gap: 5px; align-items: center;">
                    <input type="text" id="search-label" placeholder="Ej: 120,130" style="width: 80px;">
                    <span>→</span>
                    <input type="text" id="target-label" style="width: 80px;">
                </div>
                <button id="btn-buscar-por-coord" class="btn-action">Buscar</button>
            </div>

            <div class="input-group" style="margin-top: 10px;">
                <label>Coordenada del punto:</label>
                <div style="display: flex; gap: 5px;">
                    <input type="text" id="data-name" placeholder="A.." style="width: 60px;">
                    <input type="text" id="coordenadas" placeholder="12,30" style="width: 80px;" readonly>
                </div>
                <button id="btn-buscar-coord" class="btn-action">Buscar</button>
            </div>

            <hr style="margin: 15px 0; border: 0; border-top: 1px dotted #555;">

            <div class="input-group">
                <label>Renombrar puntos:</label>
                <div style="display: flex; gap: 5px; align-items: center;">
                    <input type="text" id="old-name" placeholder="A" style="width: 45px;">
                    <span>por</span>
                    <input type="text" id="new-name" placeholder="P1" style="width: 45px;">
                </div>
                <button id="btn-renombrar" class="btn-action">Renombrar</button>
            </div>
        </div>
                         <button id="btn-clear" style="margin-top: 20px; width: 100%; padding: 8px; cursor: pointer;">
                              Limpiar Lienzo
                        </button>
                        <button id="btn-mostrar-limites" style="margin-top: 20px; width: 100%; padding: 8px; cursor: pointer;">Mostrar Rectas</button>
                        <div id="info-limites" class="info-container">
                           
                         </div>
                </div>
            </aside>

            <section class="canvas-container">
               <!-- <div id="canvas" class="quadtree-canvas"></div> -->
                    
                <canvas id="canvas" class="quadtree-canvas" width="700" height="600"></canvas>
            </section>

        </div>

        <footer class="footer"> © 2026 - Desarrollado por Wendy Nicol | Estudiante de Ingeniería Informatica </footer>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>