<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulador de Quadtree</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='image/index.jpg') }}">
</head>
<body>

    <div class="app-container">
        <div class="main-layout">
            
            <aside class="sidebar">
                <div class="dropdown-header" id="toggle-params" style="cursor: pointer;">
                    <span>Parámetros</span>
                    <span class="arrow">▼</span>
                </div>
                <div class="sidebar-content" id="params-content">
                    <label for="capacidad">Capacidad:</label>
                    <input type="number" id="capacidad" value="4" min="4" >
                    
                    <p class="stats">Puntos: <span id="count">0</span></p>
                </div>
            </aside>

            <section class="canvas-container">
                <div id="canvas" class="quadtree-canvas">
                    
                </div>
            </section>

        </div>

        <footer class="footer"> </footer>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>